body {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: scroll
}

----- 
 /* first-container */
 ------




 h1{
  font-size: 70px;
  
}
h1{
  font-size: 70px;
}
h2{
  font-size: 35px;
}

#img{
    position: absolute;
    width: 1440px;
     height: 669px;
}


 .first-text{
  position: absolute;
  width: 826px;
  height: 320px;
  left: 320px;
  top: 50px;
  text-align: center;
  color: white;
 }
 
.first-p{
  margin-bottom: 20px;
}

.link-button{
  text-decoration: none;
  background-color: #FF5959;
  color: white;
  font-weight: 400;
  padding: 5px 5px;
  border-radius: 5px;
  text-align: center;
  margin-top: 50px;
}